# Credenciales del proyecto Supabase Cloud (para Vercel).
NEXT_PUBLIC_SUPABASE_URL=https://wvmdyhzmwqnnlsnrrdzm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ryX3XvOg4zcsgZ_FY6jBEQ_qCm-nyeC
